.profile__about {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin: 16px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__about {
    text-align: center;
    margin-top: 14px;
  }
}

@media (max-width: 480px) {
  .profile__about {
    font-size: 14px;
  }
}
