.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .footer__copyright {
    margin-left: 19px;
    font-size: 14px;
  }
}
