.form__submit-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 2px;
  width: 358px;
  padding: 14px 0;
  border: none;
  cursor: pointer;
  transition: opacity .3s;
}
