.popup__form-input {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 5px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__form-input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
