.popup__popup-close-btn {
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
  transition: opacity .3s;
}

.popup__popup-close-btn:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .popup__popup-close-btn {
    width: 45px;
    height: 45px;
    top: -65px;
    right: 0;
  }
}
