.form__input {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 5px;
  padding-bottom: 13px;
  border: none;
  box-sizing: border-box;
}

.form__input:focus {
  outline: none;
}
